/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}


body {
 
  width: 70vh;
  max: width 300px;;
  background-color:aqua;
 
}



img {
  
  width: 300px;
  height: 450px;
  margin-right:60px;
  margin-bottom: 60px;
  
}

h1 {
  text-align: center;
  font-size: 150px;
}




